img {
  height: 300px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin-bottom: 20px;
  transition: box-shadow 0.2s transform 0.4s;
}

.card:hover {
  cursor: pointer;
  box-shadow: 5px 10px 10px rgba(80, 75, 75, 0.692);
  transform: translateY(-5px);
}
